
html, body, .full {
	height: 100%;
  color: #444;
}

body {
  display: flex;
  flex-direction: column;
}

.no-floating-footer {
  flex: 1 0 auto;
}

div.bumper {
  padding: 64px 0;
}

div.small-bumper {
  padding: 30px 0;
}

a {
  color: #1DE9C3;
}

.thin-text a, .side-nav li>a {
	font-weight: 300;
}

.side-nav li>a {
  font-weight: 400;
  font-size: 15px;
}

.side-nav {
	background-color: #000;
}

.side-nav li>a {
	color: #fff;
	padding: 0 20px;
}

nav {
	box-shadow: inherit;
  background-color: #fff;
}

.fadeOut {
  position: fixed;
  height: 50px;
  right: 0;
  left: 0;
  top: 0;
  margin-top: 4em;
  margin-bottom: 0px;
  z-index: 996;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0) 80%
    );
}

span.subtitle {
  color: #bbb;
  text-transform: uppercase;
  font-weight: 300;
}

.nav-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0px;
  z-index: 997;
}

nav .brand-logo {
	left: 15px;
  transform: initial;
}

nav .button-collapse {
  float: right;
}

a.button-collapse i, a.search-position i {
	color: #1de9c3;
}

a.search-position:focus {
  outline: none;
}

/* ------ Full Nav Hover Animation ------*/
nav ul.full-nav>li>a {
  position: relative;
  color: #000;
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0 10px;
}

nav ul.full-nav>li>a:hover {
  color: #000;
  background-color: transparent;
}

nav ul.full-nav>li>a:not(.dropdown-button):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

nav ul.full-nav>li>a:not(.dropdown-button):hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav ul.full-nav>li>a.active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* ------ END: Full Nav Hover Animation ------*/

/* --------- Side Nav Hover Animation --------*/
ul.side-nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

ul.side-nav a:hover {
  color: #fff;
  background-color: transparent;
}

ul.side-nav a:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  bottom: 0;
  right: 0;
  background-color: #1de9c3;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

ul.side-nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

ul.side-nav a.active-side:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  bottom: 0;
  right: 0;
  background-color: #1de9c3;
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/* ------ END: Side Nav Hover Animation ------*/

.line-break {
  margin: 40px 0;
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0
}

.for-tag-top {
  margin-top: 20px;
  margin-bottom: 22px
}

.for-tag-bottom {
  margin-top: 18px;
  margin-bottom: 0px
}

.btn-flat {
  border: 1px solid #42C4A5;
  border-radius: 25px;
  color: #42C4A5;
}

div.links a.btn-flat:hover, p.links i:hover, p.links button.btn-flat:hover, div.links button.btn-flat:hover {
  outline: 0;
  background-color: #42C4A5;
  color: white;
}

div.post-meta-data {
  padding-top: 20px;
}

div.post-meta-data a, div#comment-pagination a {
  font-size: 12px;
  color: #444;
  text-transform: uppercase;
  font-weight: 500;
}

.comment-pager {
  height: 40px;
  padding-top: 12px;
}


@media only screen and (max-width: 600px) {
  .ll {
    margin-right: 28px;
  }
}

div.post-meta-data i {
  padding-right: 10px;
}

div.post-meta-data a, div.post-meta-data i {
  vertical-align: middle;
}

div.post-meta-data a:hover {
  color: #444;
  background-color: white;
  /*text-decoration: underline;*/
}

form label, .comments label {
  text-transform: uppercase;
}

div.footer {
  background-color: #222;
  width: 100%;
}

div.footer .row {
  margin-bottom: 0;
  padding: 20px 0;
}

div.footer p {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}

@media only screen and (max-width: 640px) {
  div.footer p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
div.footer p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 3.5rem;
  }
}

div.comments ul p {
  margin-top: 0;
  margin-bottom: 5px;
}

div.comments ul p.name {
  font-weight: 500;
}

div.comments ul p.date {
  text-transform: uppercase;
  color: #bbb;
}

div.comments ul p.comment-awaiting-moderation {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 15px;

    font-style: italic;
    font-weight: 300;
    color: #999;
}

p.no-comments {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  color: #999;
}

ul img.responsive-img {
  max-width: 60px;
  width: 100%;
}

div.comment-spacer {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0
}

blockquote {
  border-left-color: #42C4A5;
  border-left-width: 3px;
}

blockquote p.responsive-text {
  font-weight: 300;
  color: #666;
  font-style: italic;
}

div.wp-caption p {
  margin-top: 2px;
  text-align: center;
  color: #828282;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
}

div.container div.no-row-spacing {
  margin-bottom: 0;
}

form p.comment-notes {
  color: #666;
}

h5#reply-title a {
  color: #1DE9C3;
  border-bottom: 2px solid rgba(29,233,195, 0);

  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}

h5#reply-title a:hover {
  border-bottom: 2px solid rgba(29,233,195, 1);
}

div.cancel_reply {
  font-size: 1.1rem;
}

h5#reply-title span a {
  color: #888;
  border-bottom: 1px solid rgba(136,136,136, 0);

  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}

h5#reply-title span a:hover {
  border-bottom: 1px solid rgba(136,136,136, 1);
}

ul.children {
  margin-left: 6%;
}

div.content h4, div.content h1 {
  text-transform: capitalize;
}

div.error h1 {
  color: #5e5e5e;
  font-size: 6.4rem;
}

div.error .error-message {
  color: #8b8b8b;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0.6rem 0;
  font-size: 2.10rem;
}

div.error .error-message span.as {
  font-weight: 400;
}

.error-message {
  color: #8b8b8b;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 375px) {
  div.error h3.error-message {
    font-size: 2.22rem;
  }
  div.error h1 {
    font-size: 5.4rem;
  }
}

.search-position {
  float: right;
  position: relative;
  z-index: 1;
}

.modal {
  color: white;
  background-color: transparent;
  box-shadow: none;
  text-align: center;
  font-size: 3rem;
}

.modal input[type=text]:not(.browser-default) {
  font-size: 3rem;
  padding: 5px 0;
}

@media only screen and (max-width: 420px) {
  .modal {
      width: 100%;
  }
}

@media only screen and (max-width: 740px) {
  div.bumper {
    padding: 35px 0;
  }
}

@media only screen and (min-width: 420px) and (max-width: 740px) {
  .fadeOut {
    background: -webkit-linear-gradient( rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 80% );
  }
}

ul.hide-on-med-and-down:not(.browser-default) {
  padding-left: 4px;
  margin-right: 10px;
}

.wp-caption {
  text-align: center;
}

.dropdown-content li:hover {
  background-color: transparent;
}

ul.dropdown-content li a {
  color: #000;

  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -ms-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
}

ul.dropdown-content li a:hover {
  color: #1de9c3;
  background-color: transparent;
}

.contact-form-error{
  padding: 12px 15px;
  color: white;
  background-color: rgba(239, 83, 80, 0.9);
  border-radius: 4px;
}

.contact-form-success{
  padding: 12px 15px;
  color: white;
  background-color: rgba(67, 160, 71, 0.8);
  border-radius: 4px;
}

.contact-form-success i, .contact-form-success span, .contact-form-error i, .contact-form-error span {
  display: inline-flex;
  vertical-align: middle;
}

.contact-form-success span, .contact-form-error span {
  padding-left: 6px;
}

.ag {
  float: right !important;
}

.dropdown-button i {
  color: #1DE9C3;
}

.side-nav .collapsible-body-mod {
  background-color: #000;
}

.side-nav .collapsible-body-mod li a {
  font-weight: 200;
  /*-webkit-font-smoothing: none;*/
}

.side-nav .collapsible-header {
  padding: 0 20px;
}

h5>span.subtitle {
  font-size: 1.44rem;
}

.desc p {
  font-size: 2rem;
    font-weight: 200;
    color: #8b8b8b;
}

ul.full-nav ul.children, ul.side-nav ul.children {
  margin-left: 0;
}

.pagination li.active {
  background-color: #42C4A5;
}

h4>i.protect, h1>i.protect, h2>i.protect {
  color: slategrey;
}

h4>i.private, h1>i.private, h2>i.private {
  color: #6060d8;
}

.protection h1>i.material-icons, .protection h2>i.material-icons {
  font-size: 2.9rem;
}

.ui.modal {
  background: initial;
  box-shadow: initial;
}

.ui.modal > .content {
  background: initial;
}

.ui.modal > .header {
  background: transparent;
  border-bottom: none;
  color: white;
}

td .tag {
  display: inline;
  font-size: 1.35rem;
  vertical-align: middle;
  padding-right: 4px;
}

.chip a {
  color: rgba(0, 0, 0, 0.6);
  padding: 10px 12px;
}

.chip-holder .chip {
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -ms-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  padding: initial;
}

.chip-holder .chip:hover {
  background-color: #cccccc;
}

.tag-title {
  display: inline-block;
  font-size: 1.35rem;
  vertical-align: middle;
  font-weight: 300;
  margin-right: 5px;
  margin-top: 6px;
}

td {
  vertical-align: top;
}

.fl-right {
  float: right;
}

.custom-logo {
  margin-top: 20px;
  margin-left: 2px;
}

/* ---------------------- Responsive Text ---------------------- */
.responsive-text {
  font-weight: 300;
}

@media only screen and (min-width: 360px) {
  .responsive-text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 390px) {
  .responsive-text {
    font-size: 1.224rem;
  }
}

@media only screen and (min-width: 420px) {
  .responsive-text {
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 450px) {
  .responsive-text {
    font-size: 1.272rem;
  }
}

@media only screen and (min-width: 480px) {
  .responsive-text {
    font-size: 1.296rem;
  }
}

@media only screen and (min-width: 510px) {
  .responsive-text {
    font-size: 1.32rem;
  }
}

@media only screen and (min-width: 540px) {
  .responsive-text {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 570px) {
  .responsive-text {
    font-size: 1.368rem;
  }
}

@media only screen and (min-width: 600px) {
  .responsive-text {
    font-size: 1.392rem;
  }
}

@media only screen and (min-width: 630px) {
  .responsive-text {
    font-size: 1.416rem;
  }
}

@media only screen and (min-width: 660px) {
  .responsive-text {
    font-size: 1.44rem;
  }
}

@media only screen and (min-width: 690px) {
  .responsive-text {
    font-size: 1.464rem;
  }
}

@media only screen and (min-width: 720px) {
  .responsive-text {
    font-size: 1.488rem;
  }
}

@media only screen and (max-width: 360px) {
  .responsive-text {
    font-size: 1.2rem;
  }
}

/* ---------------------- END: Responsive Text ---------------------- */